<h1>Home</h1>
<hr>
<section class="py-4">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="">Productos:</h2>
            </div>
            {{#each products}}
            <div class="col-md-5 col-lg-4 col-xl-4 col-xxl-3">
                <div class="card p-2 m-3" style="width: 18rem;">
                    <div class="card-thumbnail">
                        {{!-- <img src="..." class="card-img-top" alt="imagen de {{title}}"> --}}
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{title}}</h5>
                        <p class="card-text">{{description}}</p>
                        <h5 class="card-title center">${{price}}</h5>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</section>