<div class="d-flex flex-column justify-content-center align-items-center" style="height:80vh;">
    <h1 class="my-4">{{pageTitle}}</h1>
    <form action="/api/session/login" method="post" class="login-form">
        <div class="row mb-3">
            <div class="col-5">
                <label for="InputEmail1" class="form-label">Email</label>
            </div>
            <div class="col-7">
                <input type="email" class="form-control" id="InputEmail1" placeholder="example@test.com"
                    aria-describedby="emailHelp" name="email" {{#if email}} value={{email}} {{/if}}>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-5">
                <label for="InputPassword1" class="form-label">Contraseña</label>
            </div>
            <div class="col-7">
                <input type="password" class="form-control" id="InputPassword1" name="password">
            </div>
        </div>
        <div class="d-flex justify-content-between mb-3">
            <a href="/signup">
                <button type="button" class="btn btn-success py-3 px-4">
                    Nuevo usuario
                </button>
            </a>
            <button type="submit" class="btn btn-primary py-3 px-4">
                Ingresar <i class="bi bi-box-arrow-in-right ms-2 h5"></i>
            </button>
        </div>
        <div class="row mb-3 text-center">
            <a href="/api/session/github">
                <button type="button" class="btn btn-secondary py-4 w-100">
                    Ingreso con GitHub <i class="bi bi-github ms-2 h5"></i>
                </button>
            </a>
        </div>
        <div class="row mb-3 text-center">
            <a href="/api/session/recovery">
                <button type="submit" class="btn btn-link py-2 w-100" formaction="/api/session/recovery">
                    Olvide mi Contraseña
                </button>
            </a>
        </div>
    </form>
</div>
