<h1>realTimeProducts</h1>
<hr>
<section class="py-4">
    <div class="container p-0">
        <div class="col-12">
            <h2 class="">Productos:</h2>
        </div>
        <div class="row" id="productsContainer">
        </div>
    </div>
</section>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/realTimeProducts.js"></script>